.nav {
	position: fixed;
	width: 100%;
	height: var(--navbar-height);
	top: 0;

	background-color: var(--background-secondary);
	z-index: 100;

	filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.2));
}



/* Landing page */
.landing-grid {
	width: 100%;
	margin-top: var(--navbar-height);
	height: var(--landing-height);
	display: grid;
	grid-template-columns: 70vh auto;
}

.landing-content {
	text-align: center;
	padding: 20px;
	z-index: 5;
}

.landing-title {
	font-size: 6em;
	font-weight: 900;
	letter-spacing: 0.15em;
	line-height: 1.1em;
}

.landing-subtitle {
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.1em;
	letter-spacing: 0.08em;
}

.socials {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	background-color: var(--background-secondary);
	margin-top: 1em;
	border-radius: 8px;
	padding: 0.8em 0.2em;
	filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.1));
}

.social {
	margin: 0em 0.5em;
}

.social-icon {
	height: 2.3em;
	fill: var(--accent-color);
	filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.2));
	transition: 0.1s;
}

.social-icon:hover {
	fill: white;
}


.character-container{
	position: relative;
}

.character {
	height: var(--landing-height);
	margin-left: 3vw;
	z-index: -1;
}


.landing-footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	color: #99a;
	background-color: var(--background-secondary);
	border-radius: 20px 0px 0px 20px;
	font-size: 0.75em;
	text-align: right;
	z-index: 10;
}

.landing-footer a {
	text-decoration: none;
	color: var(--accent-color);
}


/* Sections */
.secret-section {
	height: 100px;
	background-color: var(--background-secondary);
	/*filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));*/
}


/* Mobile */
@media only screen and (max-width: 900px),
			screen and (max-aspect-ratio: 11/9){
	/* Reduce icon size  */
	.social-icon {
		height: 1.5em;
	}

	/* Change grid to rows  */
	.landing-grid {
		grid-template-columns: none;
		grid-template-rows: 40% auto;
	}

	/* Decrease text size and add drop shadow  */
	.landing-title {
		font-size: 4em;
		filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
	}

	.landing-subtitle {
		font-size: 1.2em;
		filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.8));
	}

	/* Center character */
	.character {
		position: absolute;
		margin: 0;
		top: 0;
		left: 50%;
		transform: translateX(calc(-50% - 3vh));
	}


	/* Center text on low screen height */
	@media only screen and (max-height: 500px){
		.landing-grid {
			grid-template-rows: 0 auto;
		}
	}
}