body {
	margin: 0;
	background-color: var(--background-primary);
	
	color: white;
	font-family: 'Raleway', sans-serif;
	
	overflow-x: hidden;
}

:root {
	color-scheme: dark;

	--accent-color: #ff84bd;
	--background-primary: #403349;
	--background-secondary: #352b3d;
}


/* Generic */
.center {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}




/* Landing page */
.blobs-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	
	overflow: hidden;
}

.blob {
	position: absolute;
	height: 100%;
}

.blob-darker {
	filter: brightness(70%);
}

.landing-title {
	font-size: 6em;
	font-weight: 900;
	letter-spacing: 0.15em;
	line-height: 1.1em;
	text-align: center;
}

.landing-subtitle {
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.1em;
	letter-spacing: 0.08em;
	text-align: center;
}


.links {
	margin-top: 1em;
	height: 2.3em;
	word-spacing: 1em;
}

.links img {
	height: 100%;
	transition: transform 0.1s;
}

.links a {
	text-decoration: none;
}

.links a:hover img {
	transform: scale(1.2);
}




.landing-footer {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
	color: #99a;
	font-size: 0.75em;
	text-align: right;
}

.landing-footer a, .landing-footer i {
	color: var(--accent-color);
}



/* Stuff */
.stuff {
	height: 100px;
	background-color: var(--background-secondary);
	/*filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));*/
}
