body {
	margin: 0;
	background-color: var(--background-primary);
	color: white;
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
}

:root {
	color-scheme: dark;	/* Makes scrollbar dark */

	--accent-color: #ff84bd;
	--background-primary: #403349;
	--background-secondary: #352b3d;
}


/* Generic */
.center {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


/* Blobs */
.blobs-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	
	overflow: hidden;
}

.blob {
	position: absolute;
	height: 100%;
}

.blob-darker {
	filter: brightness(70%);
}


/* Landing page */
.landing-title {
	font-size: 6em;
	font-weight: 900;
	letter-spacing: 0.15em;
	line-height: 1.1em;
	text-align: center;
}

.landing-subtitle {
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1.1em;
	letter-spacing: 0.08em;
	text-align: center;
}

.socials {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	background-color: var(--background-secondary);
	margin-top: 1em;
	border-radius: 8px;
	padding: 0.8em 0.2em;
	filter: drop-shadow(0px 2px 3px rgba(0,0,0,0.1));
}

.social {
	margin: 0em 0.5em;
}

.social-icon {
	height: 2.3em;
	fill: var(--accent-color);
	filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.2));
	transition: 0.1s;
}

.social-icon:hover {
	fill: white;
}


.landing-footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	color: #99a;
	background-color: var(--background-secondary);
	border-radius: 20px 0px 0px 20px;
	font-size: 0.75em;
	text-align: right;
}

.landing-footer a, .landing-footer i {
	text-decoration: none;
	color: var(--accent-color);
}


/* Stuff */
.stuff {
	height: 100px;
	background-color: var(--background-secondary);
	/*filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));*/
}
