.text {
	color: var(--color-text);
}

.text--accent {
	color: var(--color-accent);
}

.expressive-code {
	border: 1px solid var(--color-surface0);
	border-radius: var(--value-border-radius);
	margin-top: 1rem;
}

.expressive-code .frame {
	box-shadow: none !important;
}

.expressive-code .header::before {
	border: none !important;
}

.expressive-code pre {
	border: none !important;
}

/* rounding */
.expressive-code .header {
	border: none !important;
	border-radius: var(--value-border-radius) var(--value-border-radius) 0 0 !important;
}

.expressive-code .frame:not(.is-terminal, .has-title) pre {
	border-radius: var(--value-border-radius) !important;
}

.expressive-code .frame.is-terminal pre,
.expressive-code .frame.has-title pre {
	border-radius: 0 0 var(--value-border-radius) var(--value-border-radius) !important;
}

/* tabs */
.expressive-code .title {
	border-radius: var(--value-border-radius) var(--value-border-radius) 0 0 !important;
	border: none !important;
	/*color: var(--color-text) !important;*/
}

.expressive-code .title::after {
	border-top: none !important;
}