---
import type { HTMLAttributes } from "astro/types";
import Icon from "./Icon.astro";

interface Props extends HTMLAttributes<"div"> {
	title?: string | null,
	href?: string | URL | null,
	icon?: string | null,
}

const { title, href, icon, class: className, ...props } = Astro.props;

const Header = href ? 'a' : 'div';
---
<div class="card" class:list={[className]} {...props}>
	<slot name="pre" />
	<div class="card__container">
		{title &&
			<Header class="card__header" class:list={{ ["card__header--link"]: href }} href={href}>
				{icon && <Icon class="card__icon" id={icon} />}
				<h2 class="card__title">{title}</h2>
			</Header>
		}
		<slot />
	</div>
	<slot name="post" />
</div>

<style>
	.card {
		width: 100%;
		height: auto;
		background-color: var(--color-background2);
		border: 1px solid var(--color-surface1);
		overflow: hidden;
		border-radius: var(--value-border-radius);
	}

	.card__container {
		padding: 1.5rem;
	}

	.card__header {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		margin-bottom: 1rem;
	}

	.card__icon {
		color: var(--color-accent);
	}

	.card__title {
		margin: 0;
	}

	.card__header--link:hover .card__title,
	.card__header--link:focus-visible .card__title{
		color: var(--color-accent);
		text-decoration: underline;
	}
</style>