---
import Icon from "./Icon.astro";

const path = Astro.url.pathname;
---
<nav class="nav">
    <div class="nav__dimmer"/>
    <div class="nav__container">
        <div class="nav__header">
            <a class="nav-logo" href="/">/nao</a>
            <button class="nav-mobile-toggle">
                <Icon class="nav-mobile-toggle__closed" id="lucide/menu"/>
                <Icon class="nav-mobile-toggle__open" id="lucide/x"/>
            </button>
        </div>
        <div class="nav__button-list">
            <a class="nav-button" href="/blog" class:list={{["nav-button--active"]: path.startsWith("/blog")}}>/blog</a>
            <a class="nav-button" href="/projects" class:list={{["nav-button--active"]: path.startsWith("/projects")}}>/projects</a>
            <div class="nav-search-bar">
                <Icon class="nav-search-bar__icon" id="lucide/search"/>
                <input class="nav-search-bar__input" type="text" placeholder="search"/>
                <div class="nav-search-bar__results" />
            </div>
            <div class="nav__button-list nav__button-list--theming">
                <button class="nav-button nav-button--icon-only" data-action="background">
                    <Icon class="nav-button__icon" id="lucide/wallpaper"/>
                </button>
                <button class="nav-button nav-button--icon-only" data-action="theme">
                    <Icon class="nav-button__icon" id="lucide/sun"/>
                </button>
            </div>
        </div>
    </div>
</nav>

<style>
	.nav__container {
		z-index: 50;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: var(--color-text);
		padding: 2rem 0;
	}

	.nav__button-list {
		display: flex;
		gap: 0.5rem;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.nav__header {
		display: flex;
		justify-content: space-between;
	}

	.nav-logo,
	.nav-button,
	.nav-search-bar {
		display: flex;
		align-items: center;
		color: var(--color-text);
		background-color: var(--color-background2);
		text-decoration: none;
		padding: 0.25rem 0.5rem;
		border-radius: var(--value-border-radius-small);
	}

	.nav-logo {
		font-weight: 800;
		font-size: 1.25em;
		color: var(--color-accent);
	}

	.nav-logo:hover, .nav-logo:focus-visible {
		text-decoration: underline;
		outline: none;
	}

	.nav-button {
		display: flex;
		cursor: pointer;
	}

	.nav-button:hover, .nav-button:focus-visible {
		color: var(--color-accent);
		outline: none;
	}

	.nav-button--icon-only {
		align-items: center;
		justify-content: center;
	}

	.nav-button__icon,
	.nav-search-bar__icon {
		width: 1em;
		height: 1em;
	}

	.nav-search-bar {
		position: relative;
		width: 150px;
		gap: 0.25rem;
	}

	/* fullscreen dimmer below nav bar. used on mobile. */
	.nav__dimmer {
		z-index: 50;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background-color: var(--color-background0);
		opacity: 0;
		transition: opacity 0.2s ease;
	}

	.nav-search-bar__input {
		border: none;
		outline: none;
		width: 100%;
		background: none;
		color: var(--color-text);
	}

	.nav-search-bar__input::placeholder {
		color: var(--color-subtext0);
	}

	.nav-search-bar__results {
		z-index: 10;
		position: absolute;
		top: calc(100% + 0.5rem);
		right: 0;
		width: 500px;
		display: none;
		flex-direction: column;
		padding: 1rem;
		gap: 1rem;
		background-color: var(--color-background2);
		border: 1px solid var(--color-surface1);
		border-radius: var(--value-border-radius);
		overflow: hidden;
	}

	.nav-search-bar__results--active:has(*) {
		display: flex;
	}

	.nav-mobile-toggle {
		display: none;
		width: 3rem;
		height: 3rem;
		color: var(--color-text);
		background-color: var(--color-background2);
		border-radius: var(--value-border-radius-small);
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.nav-mobile-toggle:hover, .nav-mobile-toggle:focus-visible {
		color: var(--color-accent);
	}

	.nav-mobile-toggle__open {
		display: none;
	}

	.nav--active .nav-mobile-toggle__open {
		display: inherit;
	}

	.nav--active .nav-mobile-toggle__closed {
		display: none;
	}

	@media screen and (max-width: 640px) {
		.nav__container {
			position: relative;
			flex-direction: column;
			align-items: stretch;
			border-radius: 0 0 var(--value-border-radius) var(--value-border-radius);
			padding: 1rem;
			gap: 0;
			transition:
				background-color 0.2s ease,
				margin-bottom 0.2s ease,
				gap 0.2s ease;
		}

		.nav--active .nav__container {
			gap: 1rem;
			margin-bottom: 1rem;
			background-color: var(--color-background1);
		}

		.nav__background {
			display: block;
		}

		.nav--active .nav__background {
			opacity: 1;
		}

		.nav--active .nav__dimmer {
			opacity: 0.9;
			pointer-events: all;
		}

		.nav-logo {
			height: 3rem;
			font-size: 1.5em;
			padding: 0.25rem 0.75rem;
		}

		.nav-mobile-toggle {
			display: flex;
		}

		.nav__button-list {
			max-height: 0;
			flex-direction: column;
			opacity: 0;
			pointer-events: none;
			transition: opacity .2s ease, max-height .2s ease;
		}

		.nav__button-list--theming {
			flex-direction: row;
			margin-top: 0.5rem;
		}

		.nav-button,
		.nav-search-bar {
			height: 3rem;
			padding: 0.75rem 1rem;
			background-color: var(--color-surface0);
		}

		.nav-search-bar {
			width: auto;
		}

		.nav-button--icon-only {
			width: 3rem;
			height: 3rem;
			padding: 0;
			font-size: 1.25em;
		}

		.nav-search-bar {
			gap: 0.5rem;
		}

		.nav--active .nav__button-list {
			max-height: 20rem; /* must be set higher than actual height */
			opacity: 1;
			pointer-events: all;
		}

		.nav--active .nav-mobile-toggle,
		.nav--active .nav-logo {
			background-color: var(--color-surface0);
		}

		.nav-button--active,
		.nav-button--active:hover,
		.nav-button--active:focus-visible {
			background-color: var(--color-accent);
			color: var(--color-text-on-accent);
			outline: none;
		}

		.nav-button--active:hover, .nav-button--active:focus-visible {
			text-decoration: underline;
		}

		.nav-search-bar__results {
			width: 100%;
			padding: 0.5rem;
			gap: 0.5rem;
		}
	}
</style>

<style is:global>
	.nav-search-bar-result {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		padding: 0.75rem;
		color: var(--color-text);
		background-color: var(--color-surface0);
		border: 1px solid var(--color-surface1);
		border-radius: var(--value-border-radius-small);
	}

	.nav-search-bar-result:hover,
	.nav-search-bar-result:focus-visible {
		background-color: var(--color-surface1);
		border: 1px solid var(--color-accent);
		outline: none;
	}

	.nav-search-bar-result__title,
	.nav-search-bar-result__excerpt {
		display: block;
		margin: 0;
		text-overflow: ellipsis;
	}

	.nav-search-bar__results mark {
		background: var(--color-accent);
		color: var(--color-text-on-accent);
		border-radius: 2px;
	}
</style>

<script>
	// theme toggling
	const navButtons = document.querySelectorAll<HTMLButtonElement>(".nav-button");
	navButtons.forEach(button => {
		button.addEventListener("click", (e) => {
			switch (button.dataset.action) {
				case "theme":
					// toggle theme
					const defaultTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
						? "dark"
						: "light";

					const currentTheme = document.documentElement.dataset.theme ?? defaultTheme;
					const newTheme = currentTheme === "dark" ? "light" : "dark";

					// only override when different from browser preferences
					if (newTheme !== defaultTheme) {
						document.documentElement.dataset.theme = newTheme;
						localStorage.setItem("theme", newTheme);
					} else {
						delete document.documentElement.dataset.theme;
						localStorage.removeItem("theme");
					}
					break;
				case "background":
					// toggle background
					if (localStorage.getItem("background") === "hidden") {
						delete document.documentElement.dataset.background;
						localStorage.removeItem("background")
					} else {
						document.documentElement.dataset.background = "hidden";
						localStorage.setItem("background", "hidden")
					}
					break;
			}
		})
	})

	// mobile nav button
	const nav = document.querySelector<HTMLElement>(".nav");
	const navToggle = document.querySelector<HTMLButtonElement>(".nav-mobile-toggle");
	if (nav !== null && navToggle !== null) {
		navToggle.addEventListener("click", () => {
			nav.classList.toggle("nav--active");
		});
	}

	// dimmer
	const navDimmer = document.querySelector<HTMLElement>(".nav__dimmer");
	if (nav !== null && navDimmer !== null) {
		navDimmer.addEventListener("click", () => {
			nav.classList.remove("nav--active");
		})
	}
</script>

<script is:inline>
	const RESULT_LIST_SELECTOR = ".nav-search-bar__results";
	const RESULT_LIST_ACTIVE_CLASS = "nav-search-bar__results--active";
	const RESULT_SELECTOR = ".nav-search-bar-result";

	const searchInput = document.querySelector(".nav-search-bar__input");
	const searchResults = document.querySelector(RESULT_LIST_SELECTOR);

	let focusIndex = -1;
	document.addEventListener("keydown", e => {
		if (e.key === "Escape") {
			searchInput.blur();
			searchResults.classList.remove(RESULT_LIST_ACTIVE_CLASS);
			focusIndex = -1;
		}

		if (e.key === "ArrowDown") {
			e.preventDefault();

			const results = document.querySelectorAll(RESULT_SELECTOR);
			focusIndex++;
			if (focusIndex >= results.length) focusIndex = 0;

			results[focusIndex]?.focus();
		}

		if (e.key === "ArrowUp") {
			e.preventDefault();

			const results = document.querySelectorAll(RESULT_SELECTOR);
			focusIndex--;
			if (focusIndex < 0) focusIndex = results.length - 1;

			results[focusIndex]?.focus();
		}
	});

	let pagefindInitialized = false;
	searchInput.addEventListener("focus", async() => {
		searchResults.classList.add(RESULT_LIST_ACTIVE_CLASS);

		// initialize pagefind on first focus
		if (!pagefindInitialized) {
			try {
				window.pagefind = await import("/pagefind/pagefind.js");
				await window.pagefind.init();
				pagefindInitialized = true;
			} catch (error) {
				console.error("Failed to initialize Pagefind:", error);
			}
		}
	});

	searchInput.addEventListener("blur", () => {
		setTimeout(() => {
			if (!document.activeElement?.closest(RESULT_LIST_SELECTOR)) {
				searchResults.classList.remove(RESULT_LIST_ACTIVE_CLASS);
				focusIndex = -1;
			}
		}, 1);
	});

	searchResults.addEventListener("focusout", e => {
		if (!e.relatedTarget?.closest(RESULT_LIST_SELECTOR)) {
			searchResults.classList.remove(RESULT_LIST_ACTIVE_CLASS);
			focusIndex = -1;
		}
	});

	searchInput.addEventListener("input", async(e) => {
		// only search if Pagefind is ready
		if (!pagefindInitialized) return;

		searchResults.innerHTML = "";
		let searchResultHtml = "";

        const input = e.target.value;
		const search = await window.pagefind.search(input);

		for (const result of search.results) {
			const data = await result.data();
			searchResultHtml += `
				<a class="nav-search-bar-result" href="${data.url}">
					<h3 class="nav-search-bar-result__title">${data.meta.title}</h3>
					<p class="nav-search-bar-result__excerpt">${data.excerpt}</p>
				</a>
			`;
		}

		if (search.results.length === 0 && e.target.value.length > 0) {
			searchResults.innerHTML = `<p style="margin-top: 0;">no results.</p>`;
		} else {
			searchResults.innerHTML = searchResultHtml;
		}

		searchResults.classList.add(RESULT_LIST_ACTIVE_CLASS);
	});
</script>